@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
  @apply font-body;
}

h1,h2,h3,h4{
  @apply font-head italic font-black;
}

.page-enter-active,
.page-leave-active {
  transition: all .5s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
  transform: translateY(-50px);
}